.svn
.vscode
.settings
.idea
.project
.settings
*.iml
*.apt_generated*
target
.classpath
.factorypath
package-lock.json
node_modules
# dist
# /dist.*
www
/www.*
.DS_Store
node_modules
# /dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.doc
